#Logo{
    position: absolute;
    top: 3.5%;
    left: 50%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 200%;
}
header{
    padding-top: 1%;
    padding-left: 2%;
}
.slideshow{
    width: 70%;
    margin: auto;
}
footer{
    height: 100px;
    background-color: black;
    margin-top: 2%;
    width: 100%;
}

footer>a{
    color: white;
}
footer>a:hover{
    color: gray;
}