header{
    padding-top: 1%;
    padding-left: 2%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 200%;
}

#Logo{
    position: absolute;
    top: 3.5%;
    left: 50%;
}

.logo{
    flex: 1;
    align-content: center;
}

body{
    background-color: white;
}

#nev{
    text-align: center;
    font-size: 350%;
}

.tart{
    padding: 25px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 70px;
}

.container img{
    width: 300px;
}

#kepegy{
    margin: auto;
    width: 90%;
}

#kepketto{
    margin: auto;
    width: 90%;
}

#kepegy img{
    width: 95%; 
    margin-bottom: 25px;
}

#kepketto img{
    width: 95%;
}

#szoveg{
    display: flex;
}


